In [4]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# tej_key
tej_key = 'XzWbBV3gZ8xTs3Cro3RF7OvtqnW0uJ'
api_base = 'https://api.tej.com.tw'

os.environ['TEJAPI_KEY'] = tej_key 
os.environ['TEJAPI_BASE'] = api_base

In [16]:
from zipline.sources.TEJ_Api_Data import get_universe

pool = get_universe(start = '2021-01-04', 
                    end = '2023-12-31',  # ÈÅ∏Âèñ 2021 Âπ¥Âπ¥ÂàùÂ∑≤‰∏äÂ∏ÇÁöÑËÇ°Á•®
                    mkt_bd_e = ['TSE','OTC'], # ‰ª•‰∏äÂ∏ÇÊ´É‰πãËÇ°Á•®
                    stktp_e = 'Common Stock',  # ÊôÆÈÄöËÇ°
                    main_ind_c = 'M2300 ÈõªÂ≠êÂ∑•Ê•≠') # ÂÉÖË¶ÅÈõªÂ≠êÂ∑•Ê•≠
pool

Currently used TEJ API key call quota 4/1000 (0.4%)
Currently used TEJ API key data quota 838/10000000 (0.01%)

['1471',
 '1582',
 '2059',
 '2301',
 '2302',
 '2303',
 '2305',
 '2308',
 '2312',
 '2313',
 '2314',
 '2316',
 '2317',
 '2321',
 '2323',
 '2324',
 '2327',
 '2328',
 '2329',
 '2330',
 '2331',
 '2332',
 '2337',
 '2338',
 '2340',
 '2342',
 '2344',
 '2345',
 '2347',
 '2349',
 '2351',
 '2352',
 '2353',
 '2354',
 '2355',
 '2356',
 '2357',
 '2359',
 '2360',
 '2362',
 '2363',
 '2364',
 '2365',
 '2367',
 '2368',
 '2369',
 '2373',
 '2374',
 '2375',
 '2376',
 '2377',
 '2379',
 '2380',
 '2382',
 '2383',
 '2385',
 '2387',
 '2388',
 '2390',
 '2392',
 '2393',
 '2395',
 '2397',
 '2399',
 '2401',
 '2402',
 '2404',
 '2405',
 '2406',
 '2408',
 '2409',
 '2412',
 '2413',
 '2414',
 '2415',
 '2417',
 '2419',
 '2420',
 '2421',
 '2423',
 '2424',
 '2425',
 '2426',
 '2427',
 '2428',
 '2429',
 '2430',
 '2431',
 '2433',
 '2434',
 '2436',
 '2438',
 '2439',
 '2440',
 '2441',
 '2442',
 '2444',
 '2448',
 '2449',
 '2450',
 '2451',
 '2453',
 '2454',
 '2455',
 '2456',
 '2457',
 '2458',
 '2459',
 '2460',
 '2461',
 '2462',
 '2464',
 '2465',
 '2466',
 '2467',
 '2468',
 '2471',
 '2472',
 '2474',
 '2476',
 '2477',
 '2478',
 '2480',
 '2481',
 '2482',
 '2483',
 '2484',
 '2485',
 '2486',
 '2488',
 '2489',
 '2491',
 '2492',
 '2493',
 '2495',
 '2498',
 '3002',
 '3003',
 '3005',
 '3006',
 '3008',
 '3010',
 '3011',
 '3013',
 '3014',
 '3015',
 '3016',
 '3017',
 '3018',
 '3019',
 '3021',
 '3022',
 '3023',
 '3024',
 '3025',
 '3026',
 '3027',
 '3028',
 '3029',
 '3030',
 '3031',
 '3032',
 '3033',
 '3034',
 '3035',
 '3036',
 '3037',
 '3038',
 '3041',
 '3042',
 '3043',
 '3044',
 '3045',
 '3046',
 '3047',
 '3048',
 '3049',
 '3050',
 '3051',
 '3054',
 '3055',
 '3057',
 '3058',
 '3059',
 '3060',
 '3062',
 '3090',
 '3092',
 '3094',
 '3130',
 '3138',
 '3149',
 '3189',
 '3209',
 '3229',
 '3231',
 '3257',
 '3296',
 '3305',
 '3308',
 '3311',
 '3312',
 '3321',
 '3338',
 '3356',
 '3376',
 '3380',
 '3383',
 '3406',
 '3413',
 '3416',
 '3419',
 '3432',
 '3437',
 '3443',
 '3447',
 '3450',
 '3454',
 '3481',
 '3494',
 '3501',
 '3504',
 '3515',
 '3518',
 '3528',
 '3530',
 '3532',
 '3533',
 '3535',
 '3536',
 '3543',
 '3545',
 '3550',
 '3563',
 '3576',
 '3583',
 '3588',
 '3591',
 '3592',
 '3593',
 '3596',
 '3605',
 '3607',
 '3617',
 '3622',
 '3645',
 '3652',
 '3653',
 '3669',
 '3679',
 '3682',
 '3686',
 '3694',
 '3698',
 '3701',
 '3702',
 '3704',
 '3706',
 '3711',
 '3712',
 '3714',
 '3715',
 '4545',
 '4904',
 '4906',
 '4915',
 '4916',
 '4919',
 '4934',
 '4938',
 '4942',
 '4952',
 '4956',
 '4960',
 '4961',
 '4967',
 '4968',
 '4976',
 '4989',
 '4994',
 '4999',
 '5203',
 '5222',
 '5234',
 '5244',
 '5258',
 '5269',
 '5285',
 '5388',
 '5434',
 '5469',
 '5471',
 '5484',
 '6108',
 '6112',
 '6115',
 '6116',
 '6117',
 '6120',
 '6128',
 '6131',
 '6133',
 '6136',
 '6139',
 '6141',
 '6142',
 '6152',
 '6153',
 '6155',
 '6164',
 '6165',
 '6166',
 '6168',
 '6172',
 '6176',
 '6183',
 '6189',
 '6191',
 '6192',
 '6196',
 '6197',
 '6201',
 '6202',
 '6205',
 '6206',
 '6209',
 '6213',
 '6214',
 '6215',
 '6216',
 '6224',
 '6225',
 '6226',
 '6230',
 '6235',
 '6239',
 '6243',
 '6251',
 '6257',
 '6269',
 '6271',
 '6277',
 '6278',
 '6281',
 '6282',
 '6283',
 '6285',
 '6289',
 '6405',
 '6409',
 '6412',
 '6414',
 '6416',
 '6426',
 '6438',
 '6442',
 '6443',
 '6449',
 '6477',
 '6515',
 '6526',
 '6531',
 '6533',
 '6552',
 '6558',
 '6579',
 '6658',
 '6668',
 '6669',
 '6674',
 '6689',
 '6691',
 '6695',
 '6698',
 '6706',
 '6715',
 '6719',
 '6742',
 '6743',
 '6756',
 '6770',
 '6776',
 '6789',
 '6792',
 '6799',
 '6805',
 '6830',
 '6834',
 '6835',
 '6916',
 '6937',
 '8011',
 '8016',
 '8021',
 '8028',
 '8039',
 '8046',
 '8070',
 '8072',
 '8081',
 '8101',
 '8103',
 '8104',
 '8105',
 '8110',
 '8112',
 '8114',
 '8131',
 '8150',
 '8163',
 '8201',
 '8210',
 '8213',
 '8215',
 '8249',
 '8261',
 '8271',
 '9912']

In [17]:
len(pool)

418

In [53]:
import TejToolAPI

start_time = pd.Timestamp('2021-01-04')
end_time = pd.Timestamp('2023-12-31')  # Â∞áÊôÇÈñìÂ≠ó‰∏≤ËΩâÊèõÊàêÊôÇÈñìÊ†ºÂºè

data = TejToolAPI.get_history_data(start = start_time,
                                   end = end_time,
                                   ticker = pool,
                                   fin_type = 'A', # ÁÇ∫Á¥ØË®àË≥áÊñôÔºåËàâ‰æã‰æÜË™™ÔºåQ3Á¥ØË®àÔºö1ÊúàÔΩû9ÊúàÁöÑË≥áÊñô„ÄÇ
                                   columns = ['‰∏ªÁî¢Ê•≠Âà•_‰∏≠Êñá', 'Â∏∏Á∫åROE', 'ÁáüÊ•≠ÊØõÂà©Áéá', 'ÁáüÈÅãÁî¢ÁîüÁèæÈáëÊµÅÈáè', 'ÊäïË≥áÁî¢ÁîüÁèæÈáëÊµÅÈáè','Ë≤†ÂÇµÊØîÁéá','t8107','t8111','t8133','t8134','isni','r609','r611'],
                                   transfer_to_chinese = True)
data['Ëá™Áî±ÁèæÈáëÊµÅÈáè'] = data['ÁáüÈÅãÁî¢ÁîüÁèæÈáëÊµÅÈáè_A'] + data['ÊäïË≥áÁî¢ÁîüÁèæÈáëÊµÅÈáè_A']
data['Áç≤Âà©Âê´ÈáëÈáè']=data['ÁáüÈÅãÁî¢ÁîüÁèæÈáëÊµÅÈáè_A'] /data['Ê∑®Âà©ÊΩ§_A']*100
data['Áü≠ÊúüÁáüÊî∂Âπ¥Â¢ûÁéá'] = ((data['Ëøë3ÊúàÁ¥ØË®àÁáüÊî∂_ÂçÉÂÖÉ'] / data['ÂéªÂπ¥Ëøë3ÊúàÁ¥ØË®àÁáüÊî∂_ÂçÉÂÖÉ']) - 1) * 100
data['Èï∑ÊúüÁáüÊî∂Âπ¥Â¢ûÁéá'] = ((data['Ëøë12ÊúàÁ¥ØË®àÁáüÊî∂_ÂçÉÂÖÉ'] / data['ÂéªÂπ¥Ëøë12ÊúàÁ¥ØË®àÁáüÊî∂_ÂçÉÂÖÉ']) - 1) * 100
data.drop(columns = ['ÁáüÈÅãÁî¢ÁîüÁèæÈáëÊµÅÈáè_A', 'ÊäïË≥áÁî¢ÁîüÁèæÈáëÊµÅÈáè_A','Ê∑®Âà©ÊΩ§_A','Ëøë3ÊúàÁ¥ØË®àÁáüÊî∂_ÂçÉÂÖÉ','ÂéªÂπ¥Ëøë3ÊúàÁ¥ØË®àÁáüÊî∂_ÂçÉÂÖÉ','Ëøë12ÊúàÁ¥ØË®àÁáüÊî∂_ÂçÉÂÖÉ','ÂéªÂπ¥Ëøë12ÊúàÁ¥ØË®àÁáüÊî∂_ÂçÉÂÖÉ'], inplace = True)  # ÁßªÈô§Ê¨Ñ‰Ωç

Currently used TEJ API key call quota 319/1000 (31.9%)
Currently used TEJ API key data quota 5121151/10000000 (51.21%)

In [54]:
data

,ËÇ°Á•®‰ª£Á¢º,Êó•Êúü,‰∏ªÁî¢Ê•≠Âà•_‰∏≠Êñá,ÊúüÊú´ÂîÆË≤®Â§©Êï∏_A,ÊúüÊú´Êî∂Â∏≥Â§©Êï∏_A,Â∏∏Á∫åROE_A,ÁáüÊ•≠ÊØõÂà©Áéá_A,Ë≤†ÂÇµÊØîÁéá_A,Ëá™Áî±ÁèæÈáëÊµÅÈáè,Áç≤Âà©Âê´ÈáëÈáè,Áü≠ÊúüÁáüÊî∂Âπ¥Â¢ûÁéá,Èï∑ÊúüÁáüÊî∂Âπ¥Â¢ûÁéá
0,1471,2021-01-04,M2300 ÈõªÂ≠êÂ∑•Ê•≠,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1582,2021-01-04,M2300 ÈõªÂ≠êÂ∑•Ê•≠,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2059,2021-01-04,M2300 ÈõªÂ≠êÂ∑•Ê•≠,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2301,2021-01-04,M2300 ÈõªÂ≠êÂ∑•Ê•≠,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2302,2021-01-04,M2300 ÈõªÂ≠êÂ∑•Ê•≠,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
291119,8215,2023-12-29,M2300 ÈõªÂ≠êÂ∑•Ê•≠,76.77,80.85,9.48,18.40,57.49,-2251172.0,125.644814,19.227807,8.479912
291120,8249,2023-12-29,M2300 ÈõªÂ≠êÂ∑•Ê•≠,39.36,58.31,5.01,18.94,28.78,1070750.0,74.259883,-49.764408,-22.314228
291121,8261,2023-12-29,M2300 ÈõªÂ≠êÂ∑•Ê•≠,120.42,116.15,4.74,24.96,11.57,323168.0,85.496385,-6.424569,-29.570797
291122,8271,2023-12-29,M2300 ÈõªÂ≠êÂ∑•Ê•≠,70.22,46.46,10.08,23.63,30.30,-17967.0,82.021246,-2.398950,-13.468388
291123,9912,2023-12-29,M2300 ÈõªÂ≠êÂ∑•Ê•≠,247.61,41.97,-6.90,40.05,43.81,50513.0,-175.624940,-3.168259,-11.283996

In [58]:
# ÂèñÂá∫ÊúÄËøëÂπ¥Â∫¶(2023-12-29)ÁöÑË≥áÊñô
data_last_1Y = data[data['Êó•Êúü'] == '2023-12-29'].reset_index(drop = True)  

# ÂèñÂá∫ËÇ°Á•®Âü∫Êú¨Ë≥áÊñôËàá ROE Ë≥áÊñôÊñπ‰æøËßÄÂØü
ROE_1Y_data = data_last_1Y[['ËÇ°Á•®‰ª£Á¢º', 'Êó•Êúü', '‰∏ªÁî¢Ê•≠Âà•_‰∏≠Êñá', 'Â∏∏Á∫åROE_A']]

ROE_1Y_data

     ËÇ°Á•®‰ª£Á¢º         Êó•Êúü     ‰∏ªÁî¢Ê•≠Âà•_‰∏≠Êñá  Â∏∏Á∫åROE_A
0    1471 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠    -4.03
1    1582 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠     6.62
2    2059 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠    13.65
3    2301 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠     9.73
4    2302 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠     3.72
..    ...        ...         ...      ...
403  8215 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠     9.48
404  8249 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠     5.01
405  8261 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠     4.74
406  8271 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠    10.08
407  9912 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠    -6.90

[408 rows x 4 columns]

In [59]:
# ‰æù‰∏çÂêåÁî¢Ê•≠ÂàÜÈ°ûÔºåË®àÁÆóÂá∫Áî¢Ê•≠Âπ≥Âùá ROE
industry_ROE_ave = ROE_1Y_data.groupby('‰∏ªÁî¢Ê•≠Âà•_‰∏≠Êñá')['Â∏∏Á∫åROE_A'].transform('mean')

# Âä†ÂÖ• 'Áî¢Ê•≠Âπ≥ÂùáROE' Ê¨Ñ‰Ωç
ROE_1Y_data['Áî¢Ê•≠Âπ≥ÂùáROE'] = industry_ROE_ave
 
ROE_1Y_data

     ËÇ°Á•®‰ª£Á¢º         Êó•Êúü     ‰∏ªÁî¢Ê•≠Âà•_‰∏≠Êñá  Â∏∏Á∫åROE_A   Áî¢Ê•≠Âπ≥ÂùáROE
0    1471 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠    -4.03  4.168759
1    1582 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠     6.62  4.168759
2    2059 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠    13.65  4.168759
3    2301 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠     9.73  4.168759
4    2302 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠     3.72  4.168759
..    ...        ...         ...      ...       ...
403  8215 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠     9.48  4.168759
404  8249 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠     5.01  4.168759
405  8261 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠     4.74  4.168759
406  8271 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠    10.08  4.168759
407  9912 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠    -6.90  4.168759

[408 rows x 5 columns]

In [60]:
set_1 = set(ROE_1Y_data[ROE_1Y_data['Â∏∏Á∫åROE_A'] > ROE_1Y_data['Áî¢Ê•≠Âπ≥ÂùáROE']]['ËÇ°Á•®‰ª£Á¢º'])  # ÁØ©ÈÅ∏Á¨¶ÂêàÈÅ∏ËÇ°Ê¢ù‰ª∂ÁöÑÂÖ¨Âè∏
set_1

{'1582',
 '2059',
 '2301',
 '2303',
 '2308',
 '2312',
 '2313',
 '2317',
 '2324',
 '2327',
 '2328',
 '2329',
 '2330',
 '2331',
 '2345',
 '2347',
 '2351',
 '2352',
 '2356',
 '2359',
 '2360',
 '2364',
 '2368',
 '2373',
 '2376',
 '2377',
 '2379',
 '2382',
 '2383',
 '2385',
 '2387',
 '2393',
 '2395',
 '2397',
 '2402',
 '2404',
 '2412',
 '2413',
 '2414',
 '2420',
 '2421',
 '2423',
 '2425',
 '2427',
 '2428',
 '2430',
 '2433',
 '2439',
 '2441',
 '2449',
 '2450',
 '2451',
 '2453',
 '2454',
 '2455',
 '2458',
 '2459',
 '2462',
 '2467',
 '2468',
 '2471',
 '2472',
 '2474',
 '2476',
 '2478',
 '2480',
 '2481',
 '2482',
 '2484',
 '2488',
 '2492',
 '2493',
 '3003',
 '3005',
 '3008',
 '3010',
 '3013',
 '3014',
 '3017',
 '3019',
 '3021',
 '3022',
 '3023',
 '3025',
 '3026',
 '3028',
 '3029',
 '3030',
 '3032',
 '3033',
 '3034',
 '3035',
 '3037',
 '3038',
 '3042',
 '3043',
 '3044',
 '3045',
 '3046',
 '3090',
 '3130',
 '3138',
 '3209',
 '3231',
 '3257',
 '3305',
 '3308',
 '3312',
 '3338',
 '3356',
 '3380',
 '3406',
 '3413',
 '3416',
 '3443',
 '3454',
 '3501',
 '3515',
 '3532',
 '3533',
 '3563',
 '3583',
 '3592',
 '3596',
 '3617',
 '3622',
 '3653',
 '3679',
 '3694',
 '3701',
 '3704',
 '3711',
 '3715',
 '4545',
 '4904',
 '4915',
 '4916',
 '4919',
 '4938',
 '4942',
 '4952',
 '4961',
 '4994',
 '5222',
 '5234',
 '5244',
 '5258',
 '5269',
 '5285',
 '5388',
 '5434',
 '5469',
 '6112',
 '6115',
 '6128',
 '6139',
 '6155',
 '6176',
 '6183',
 '6189',
 '6191',
 '6192',
 '6196',
 '6197',
 '6201',
 '6205',
 '6206',
 '6214',
 '6216',
 '6230',
 '6235',
 '6239',
 '6243',
 '6257',
 '6269',
 '6271',
 '6277',
 '6278',
 '6281',
 '6285',
 '6409',
 '6412',
 '6414',
 '6416',
 '6438',
 '6442',
 '6443',
 '6449',
 '6477',
 '6515',
 '6531',
 '6579',
 '6669',
 '6689',
 '6691',
 '6715',
 '6756',
 '6776',
 '6792',
 '6799',
 '6830',
 '6835',
 '8016',
 '8028',
 '8039',
 '8046',
 '8070',
 '8081',
 '8103',
 '8112',
 '8114',
 '8150',
 '8210',
 '8213',
 '8215',
 '8249',
 '8261',
 '8271'}

In [61]:
len(set_1)

218

In [62]:
# ÂèñÂá∫Ëøë‰∏âÂπ¥(2023-12-29, 2022-12-30,2021-12-30)ÁöÑË≥áÊñô
data_last_3Y = data[data['Êó•Êúü'].isin(['2023-12-29', '2022-12-30','2021-12-30'])].reset_index(drop = True)

# Ë®àÁÆóÂÖ¨Âè∏‰∏âÂπ¥Âπ≥ÂùáÁöÑ ROE
ROE_3Y_ave = data_last_3Y.groupby('ËÇ°Á•®‰ª£Á¢º')['Â∏∏Á∫åROE_A'].mean()

# Âæû Series ËΩâÊàê DataframeÔºå‰∏¶ÈáçÊñ∞ÂëΩÂêçÊ¨Ñ‰Ωç
ROE_3Y_ave = pd.DataFrame(ROE_3Y_ave).rename(columns = {'Â∏∏Á∫åROE_A': '3Âπ¥Âπ≥ÂùáROE'})

ROE_3Y_ave

        3Âπ¥Âπ≥ÂùáROE
ËÇ°Á•®‰ª£Á¢º
1471  -9.600000
1582   5.326667
2059  16.916667
2301   9.736667
2302   5.150000
...         ...
8215  12.246667
8249   4.246667
8261  16.953333
8271  12.663333
9912  -3.983333

[415 rows x 1 columns]

In [64]:
set_2 = set(ROE_3Y_ave[ROE_3Y_ave['3Âπ¥Âπ≥ÂùáROE'] > 15].index)  # ÁØ©ÈÅ∏Á¨¶ÂêàÈÅ∏ËÇ°Ê¢ù‰ª∂ÁöÑÂÖ¨Âè∏
set_2

{'2059',
 '2303',
 '2327',
 '2330',
 '2345',
 '2368',
 '2376',
 '2377',
 '2379',
 '2383',
 '2395',
 '2404',
 '2454',
 '2455',
 '2458',
 '2467',
 '2480',
 '2493',
 '3006',
 '3014',
 '3017',
 '3023',
 '3030',
 '3034',
 '3035',
 '3037',
 '3042',
 '3130',
 '3209',
 '3413',
 '3443',
 '3533',
 '3563',
 '3592',
 '3653',
 '4952',
 '4961',
 '5234',
 '5258',
 '5434',
 '5471',
 '6183',
 '6189',
 '6196',
 '6202',
 '6281',
 '6409',
 '6412',
 '6438',
 '6531',
 '6669',
 '6691',
 '6756',
 '6799',
 '8016',
 '8046',
 '8081',
 '8112',
 '8261'}

In [65]:
# ÂèñÂá∫ËÇ°Á•®Âü∫Êú¨Ë≥áÊñôËàá Gross Margin Ë≥áÊñôÊñπ‰æøËßÄÂØü
GM_1Y_data = data_last_1Y[['ËÇ°Á•®‰ª£Á¢º', 'Êó•Êúü', '‰∏ªÁî¢Ê•≠Âà•_‰∏≠Êñá', 'ÁáüÊ•≠ÊØõÂà©Áéá_A']]

GM_1Y_data

     ËÇ°Á•®‰ª£Á¢º         Êó•Êúü     ‰∏ªÁî¢Ê•≠Âà•_‰∏≠Êñá  ÁáüÊ•≠ÊØõÂà©Áéá_A
0    1471 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠     7.95
1    1582 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠    20.94
2    2059 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠    58.63
3    2301 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠    22.02
4    2302 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠    34.88
..    ...        ...         ...      ...
403  8215 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠    18.40
404  8249 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠    18.94
405  8261 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠    24.96
406  8271 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠    23.63
407  9912 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠    40.05

[408 rows x 4 columns]

In [66]:
industry_GM_ave = GM_1Y_data.groupby('‰∏ªÁî¢Ê•≠Âà•_‰∏≠Êñá')['ÁáüÊ•≠ÊØõÂà©Áéá_A'].transform('mean')  

# Âä†ÂÖ• 'Áî¢Ê•≠Âπ≥ÂùáÊØõÂà©Áéá' Ê¨Ñ‰Ωç
GM_1Y_data['Áî¢Ê•≠Âπ≥ÂùáÊØõÂà©Áéá'] = industry_GM_ave

GM_1Y_data

     ËÇ°Á•®‰ª£Á¢º         Êó•Êúü     ‰∏ªÁî¢Ê•≠Âà•_‰∏≠Êñá  ÁáüÊ•≠ÊØõÂà©Áéá_A    Áî¢Ê•≠Âπ≥ÂùáÊØõÂà©Áéá
0    1471 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠     7.95  21.789089
1    1582 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠    20.94  21.789089
2    2059 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠    58.63  21.789089
3    2301 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠    22.02  21.789089
4    2302 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠    34.88  21.789089
..    ...        ...         ...      ...        ...
403  8215 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠    18.40  21.789089
404  8249 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠    18.94  21.789089
405  8261 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠    24.96  21.789089
406  8271 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠    23.63  21.789089
407  9912 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠    40.05  21.789089

[408 rows x 5 columns]

In [67]:
set_3 = set(GM_1Y_data[GM_1Y_data['ÁáüÊ•≠ÊØõÂà©Áéá_A'] > GM_1Y_data['Áî¢Ê•≠Âπ≥ÂùáÊØõÂà©Áéá']]['ËÇ°Á•®‰ª£Á¢º'])  # ÁØ©ÈÅ∏Á¨¶ÂêàÈÅ∏ËÇ°Ê¢ù‰ª∂ÁöÑÂÖ¨Âè∏
set_3

{'2059',
 '2301',
 '2302',
 '2303',
 '2305',
 '2308',
 '2321',
 '2323',
 '2327',
 '2330',
 '2332',
 '2337',
 '2338',
 '2340',
 '2344',
 '2345',
 '2359',
 '2360',
 '2363',
 '2364',
 '2365',
 '2368',
 '2373',
 '2374',
 '2379',
 '2383',
 '2388',
 '2390',
 '2393',
 '2395',
 '2401',
 '2405',
 '2412',
 '2415',
 '2417',
 '2420',
 '2421',
 '2423',
 '2427',
 '2428',
 '2433',
 '2436',
 '2449',
 '2451',
 '2453',
 '2454',
 '2455',
 '2457',
 '2458',
 '2461',
 '2467',
 '2471',
 '2472',
 '2474',
 '2476',
 '2480',
 '2481',
 '2482',
 '2484',
 '2488',
 '2491',
 '2493',
 '2495',
 '2498',
 '3002',
 '3003',
 '3005',
 '3008',
 '3014',
 '3022',
 '3023',
 '3024',
 '3025',
 '3027',
 '3030',
 '3031',
 '3032',
 '3034',
 '3035',
 '3042',
 '3043',
 '3047',
 '3050',
 '3057',
 '3059',
 '3094',
 '3130',
 '3138',
 '3189',
 '3257',
 '3308',
 '3356',
 '3406',
 '3413',
 '3416',
 '3432',
 '3443',
 '3454',
 '3501',
 '3518',
 '3532',
 '3533',
 '3535',
 '3563',
 '3583',
 '3588',
 '3591',
 '3592',
 '3617',
 '3622',
 '3652',
 '3653',
 '3669',
 '3679',
 '3715',
 '4904',
 '4919',
 '4942',
 '4952',
 '4961',
 '4968',
 '4994',
 '5203',
 '5222',
 '5234',
 '5244',
 '5258',
 '5269',
 '5469',
 '5471',
 '5484',
 '6128',
 '6155',
 '6164',
 '6165',
 '6166',
 '6168',
 '6183',
 '6191',
 '6192',
 '6197',
 '6201',
 '6202',
 '6205',
 '6206',
 '6214',
 '6215',
 '6216',
 '6224',
 '6226',
 '6235',
 '6243',
 '6257',
 '6271',
 '6277',
 '6409',
 '6416',
 '6438',
 '6442',
 '6449',
 '6477',
 '6515',
 '6531',
 '6533',
 '6579',
 '6695',
 '6715',
 '6719',
 '6756',
 '6792',
 '6799',
 '6830',
 '6835',
 '8016',
 '8028',
 '8039',
 '8081',
 '8103',
 '8114',
 '8210',
 '8261',
 '8271',
 '9912'}

In [68]:
# ÂèñÂá∫ÊúÄËøë1Âπ¥ÂèäÂâç2Âπ¥Â∫¶ÁöÑË≥áÊñô
cash_data = data[data['Êó•Êúü'].isin(['2021-12-30', '2022-12-30','2023-12-29'])].reset_index(drop = True)  

# ÂèñÂá∫ËÇ°Á•®Âü∫Êú¨Ë≥áÊñôËàáËá™Áî±ÁèæÈáëÊµÅÈáèÊñπ‰æøËßÄÂØü
cash_data = cash_data[['ËÇ°Á•®‰ª£Á¢º', 'Êó•Êúü', 'Ëá™Áî±ÁèæÈáëÊµÅÈáè']]  

cash_data

      ËÇ°Á•®‰ª£Á¢º         Êó•Êúü     Ëá™Áî±ÁèæÈáëÊµÅÈáè
0     1471 2021-12-30  -100826.0
1     1582 2021-12-30    17385.0
2     2059 2021-12-30   391359.0
3     2301 2021-12-30  7505958.0
4     2302 2021-12-30   -33862.0
...    ...        ...        ...
1203  8215 2023-12-29 -2251172.0
1204  8249 2023-12-29  1070750.0
1205  8261 2023-12-29   323168.0
1206  8271 2023-12-29   -17967.0
1207  9912 2023-12-29    50513.0

[1208 rows x 3 columns]

In [82]:
cash_data['Ëøë‰∏âÂπ¥Ëá™Áî±ÁèæÈáëÊµÅ'] =  cash_data['Ëá™Áî±ÁèæÈáëÊµÅÈáè'].sum()
cash_data['ÊåáÊ®ô'] = cash_data['Ëøë‰∏âÂπ¥Ëá™Áî±ÁèæÈáëÊµÅ'] -0

In [83]:
cash_data

      ËÇ°Á•®‰ª£Á¢º         Êó•Êúü     Ëá™Áî±ÁèæÈáëÊµÅÈáè      Ëøë‰∏âÂπ¥Ëá™Áî±ÁèæÈáëÊµÅ            ÊåáÊ®ô
0     1471 2021-12-30  -100826.0  1.517496e+09  1.517496e+09
1     1582 2021-12-30    17385.0  1.517496e+09  1.517496e+09
2     2059 2021-12-30   391359.0  1.517496e+09  1.517496e+09
3     2301 2021-12-30  7505958.0  1.517496e+09  1.517496e+09
4     2302 2021-12-30   -33862.0  1.517496e+09  1.517496e+09
...    ...        ...        ...           ...           ...
1203  8215 2023-12-29 -2251172.0  1.517496e+09  1.517496e+09
1204  8249 2023-12-29  1070750.0  1.517496e+09  1.517496e+09
1205  8261 2023-12-29   323168.0  1.517496e+09  1.517496e+09
1206  8271 2023-12-29   -17967.0  1.517496e+09  1.517496e+09
1207  9912 2023-12-29    50513.0  1.517496e+09  1.517496e+09

[1208 rows x 5 columns]

In [84]:
set_4 = set(cash_data[cash_data['ÊåáÊ®ô'] > 1]['ËÇ°Á•®‰ª£Á¢º'])  # ÁØ©ÈÅ∏Á¨¶ÂêàÈÅ∏ËÇ°Ê¢ù‰ª∂ÁöÑÂÖ¨Âè∏
set_4

{'1471',
 '1582',
 '2059',
 '2301',
 '2302',
 '2303',
 '2305',
 '2308',
 '2312',
 '2313',
 '2314',
 '2316',
 '2317',
 '2321',
 '2323',
 '2324',
 '2327',
 '2328',
 '2329',
 '2330',
 '2331',
 '2332',
 '2337',
 '2338',
 '2340',
 '2342',
 '2344',
 '2345',
 '2347',
 '2349',
 '2351',
 '2352',
 '2353',
 '2354',
 '2355',
 '2356',
 '2357',
 '2359',
 '2360',
 '2362',
 '2363',
 '2364',
 '2365',
 '2367',
 '2368',
 '2369',
 '2373',
 '2374',
 '2375',
 '2376',
 '2377',
 '2379',
 '2380',
 '2382',
 '2383',
 '2385',
 '2387',
 '2388',
 '2390',
 '2392',
 '2393',
 '2395',
 '2397',
 '2399',
 '2401',
 '2402',
 '2404',
 '2405',
 '2406',
 '2408',
 '2409',
 '2412',
 '2413',
 '2414',
 '2415',
 '2417',
 '2419',
 '2420',
 '2421',
 '2423',
 '2424',
 '2425',
 '2426',
 '2427',
 '2428',
 '2429',
 '2430',
 '2431',
 '2433',
 '2434',
 '2436',
 '2438',
 '2439',
 '2440',
 '2441',
 '2442',
 '2444',
 '2449',
 '2450',
 '2451',
 '2453',
 '2454',
 '2455',
 '2456',
 '2457',
 '2458',
 '2459',
 '2460',
 '2461',
 '2462',
 '2464',
 '2465',
 '2466',
 '2467',
 '2468',
 '2471',
 '2472',
 '2474',
 '2476',
 '2477',
 '2478',
 '2480',
 '2481',
 '2482',
 '2483',
 '2484',
 '2485',
 '2486',
 '2488',
 '2489',
 '2491',
 '2492',
 '2493',
 '2495',
 '2498',
 '3002',
 '3003',
 '3005',
 '3006',
 '3008',
 '3010',
 '3011',
 '3013',
 '3014',
 '3015',
 '3016',
 '3017',
 '3018',
 '3019',
 '3021',
 '3022',
 '3023',
 '3024',
 '3025',
 '3026',
 '3027',
 '3028',
 '3029',
 '3030',
 '3031',
 '3032',
 '3033',
 '3034',
 '3035',
 '3036',
 '3037',
 '3038',
 '3041',
 '3042',
 '3043',
 '3044',
 '3045',
 '3046',
 '3047',
 '3048',
 '3049',
 '3050',
 '3051',
 '3054',
 '3055',
 '3057',
 '3058',
 '3059',
 '3060',
 '3062',
 '3090',
 '3092',
 '3094',
 '3130',
 '3138',
 '3149',
 '3189',
 '3209',
 '3229',
 '3231',
 '3257',
 '3296',
 '3305',
 '3308',
 '3311',
 '3312',
 '3321',
 '3338',
 '3356',
 '3376',
 '3380',
 '3383',
 '3406',
 '3413',
 '3416',
 '3419',
 '3432',
 '3437',
 '3443',
 '3447',
 '3450',
 '3454',
 '3481',
 '3494',
 '3501',
 '3504',
 '3515',
 '3518',
 '3528',
 '3530',
 '3532',
 '3533',
 '3535',
 '3536',
 '3543',
 '3545',
 '3550',
 '3563',
 '3576',
 '3583',
 '3588',
 '3591',
 '3592',
 '3593',
 '3596',
 '3605',
 '3607',
 '3617',
 '3622',
 '3645',
 '3652',
 '3653',
 '3669',
 '3679',
 '3682',
 '3686',
 '3694',
 '3701',
 '3702',
 '3704',
 '3706',
 '3711',
 '3712',
 '3714',
 '3715',
 '4545',
 '4904',
 '4906',
 '4915',
 '4916',
 '4919',
 '4934',
 '4938',
 '4942',
 '4952',
 '4956',
 '4960',
 '4961',
 '4967',
 '4968',
 '4976',
 '4989',
 '4994',
 '4999',
 '5203',
 '5222',
 '5234',
 '5244',
 '5258',
 '5269',
 '5285',
 '5388',
 '5434',
 '5469',
 '5471',
 '5484',
 '6108',
 '6112',
 '6115',
 '6116',
 '6117',
 '6120',
 '6128',
 '6133',
 '6136',
 '6139',
 '6141',
 '6142',
 '6152',
 '6153',
 '6155',
 '6164',
 '6165',
 '6166',
 '6168',
 '6172',
 '6176',
 '6183',
 '6189',
 '6191',
 '6192',
 '6196',
 '6197',
 '6201',
 '6202',
 '6205',
 '6206',
 '6209',
 '6213',
 '6214',
 '6215',
 '6216',
 '6224',
 '6225',
 '6226',
 '6230',
 '6235',
 '6239',
 '6243',
 '6251',
 '6257',
 '6269',
 '6271',
 '6277',
 '6278',
 '6281',
 '6282',
 '6283',
 '6285',
 '6289',
 '6405',
 '6409',
 '6412',
 '6414',
 '6416',
 '6426',
 '6438',
 '6442',
 '6443',
 '6449',
 '6477',
 '6515',
 '6526',
 '6531',
 '6533',
 '6552',
 '6558',
 '6579',
 '6658',
 '6668',
 '6669',
 '6674',
 '6689',
 '6691',
 '6695',
 '6698',
 '6706',
 '6715',
 '6719',
 '6742',
 '6743',
 '6756',
 '6770',
 '6776',
 '6789',
 '6792',
 '6799',
 '6805',
 '6830',
 '6834',
 '6835',
 '6916',
 '6937',
 '8011',
 '8016',
 '8021',
 '8028',
 '8039',
 '8046',
 '8070',
 '8072',
 '8081',
 '8101',
 '8103',
 '8104',
 '8105',
 '8110',
 '8112',
 '8114',
 '8131',
 '8150',
 '8163',
 '8201',
 '8210',
 '8213',
 '8215',
 '8249',
 '8261',
 '8271',
 '9912'}

In [85]:
len(set_4)

415

In [86]:
# ÂèñÂá∫ÊúÄËøë1Âπ¥ÂèäÂâç2Âπ¥Â∫¶ÁöÑË≥áÊñô
liabilities_data = data[data['Êó•Êúü'].isin(['2021-12-30', '2022-12-30','2023-12-29'])].reset_index(drop = True)  

# ÂèñÂá∫ËÇ°Á•®Âü∫Êú¨Ë≥áÊñôËàáËá™Áî±ÁèæÈáëÊµÅÈáèÊñπ‰æøËßÄÂØü
liabilities_data = liabilities_data[['ËÇ°Á•®‰ª£Á¢º', 'Êó•Êúü', 'Ë≤†ÂÇµÊØîÁéá_A']]  

liabilities_data

      ËÇ°Á•®‰ª£Á¢º         Êó•Êúü  Ë≤†ÂÇµÊØîÁéá_A
0     1471 2021-12-30   23.37
1     1582 2021-12-30   49.71
2     2059 2021-12-30   17.94
3     2301 2021-12-30   61.35
4     2302 2021-12-30   18.82
...    ...        ...     ...
1203  8215 2023-12-29   57.49
1204  8249 2023-12-29   28.78
1205  8261 2023-12-29   11.57
1206  8271 2023-12-29   30.30
1207  9912 2023-12-29   43.81

[1208 rows x 3 columns]

In [98]:
liabilities_data['Ë≤†ÂÇµÊØîÁéá<50%'] = liabilities_data['Ë≤†ÂÇµÊØîÁéá_A'] < 50

In [99]:
set_5 = set(liabilities_data[liabilities_data['Ë≤†ÂÇµÊØîÁéá<50%']]['ËÇ°Á•®‰ª£Á¢º']) # ÁØ©ÈÅ∏Á¨¶ÂêàÈÅ∏ËÇ°Ê¢ù‰ª∂ÁöÑÂÖ¨Âè∏
set_5

{'1471',
 '1582',
 '2059',
 '2302',
 '2303',
 '2305',
 '2308',
 '2316',
 '2323',
 '2328',
 '2329',
 '2330',
 '2331',
 '2332',
 '2337',
 '2340',
 '2342',
 '2344',
 '2349',
 '2351',
 '2354',
 '2355',
 '2357',
 '2359',
 '2360',
 '2363',
 '2365',
 '2369',
 '2374',
 '2375',
 '2376',
 '2377',
 '2383',
 '2388',
 '2390',
 '2393',
 '2395',
 '2399',
 '2401',
 '2402',
 '2405',
 '2406',
 '2408',
 '2409',
 '2412',
 '2417',
 '2419',
 '2420',
 '2421',
 '2423',
 '2425',
 '2426',
 '2428',
 '2431',
 '2433',
 '2434',
 '2436',
 '2438',
 '2440',
 '2441',
 '2449',
 '2450',
 '2451',
 '2454',
 '2455',
 '2456',
 '2458',
 '2459',
 '2461',
 '2462',
 '2468',
 '2471',
 '2472',
 '2474',
 '2476',
 '2477',
 '2478',
 '2480',
 '2481',
 '2482',
 '2483',
 '2484',
 '2485',
 '2486',
 '2488',
 '2489',
 '2491',
 '2492',
 '2493',
 '2495',
 '2498',
 '3002',
 '3003',
 '3005',
 '3006',
 '3008',
 '3011',
 '3014',
 '3015',
 '3016',
 '3019',
 '3021',
 '3022',
 '3024',
 '3025',
 '3026',
 '3027',
 '3029',
 '3030',
 '3031',
 '3032',
 '3034',
 '3035',
 '3038',
 '3041',
 '3042',
 '3044',
 '3049',
 '3050',
 '3051',
 '3054',
 '3055',
 '3057',
 '3059',
 '3060',
 '3062',
 '3090',
 '3094',
 '3130',
 '3138',
 '3189',
 '3229',
 '3257',
 '3296',
 '3305',
 '3308',
 '3311',
 '3356',
 '3376',
 '3380',
 '3406',
 '3413',
 '3416',
 '3419',
 '3432',
 '3437',
 '3450',
 '3454',
 '3481',
 '3501',
 '3504',
 '3515',
 '3518',
 '3530',
 '3532',
 '3533',
 '3535',
 '3543',
 '3545',
 '3563',
 '3576',
 '3588',
 '3591',
 '3592',
 '3607',
 '3617',
 '3622',
 '3645',
 '3652',
 '3653',
 '3669',
 '3679',
 '3682',
 '3686',
 '3701',
 '3706',
 '3714',
 '4545',
 '4906',
 '4916',
 '4934',
 '4942',
 '4952',
 '4956',
 '4960',
 '4961',
 '4967',
 '4968',
 '4976',
 '4989',
 '4994',
 '4999',
 '5203',
 '5222',
 '5234',
 '5244',
 '5258',
 '5269',
 '5285',
 '5469',
 '5471',
 '5484',
 '6115',
 '6116',
 '6120',
 '6128',
 '6133',
 '6136',
 '6142',
 '6152',
 '6153',
 '6155',
 '6164',
 '6168',
 '6176',
 '6183',
 '6191',
 '6192',
 '6197',
 '6201',
 '6202',
 '6205',
 '6206',
 '6209',
 '6213',
 '6214',
 '6215',
 '6216',
 '6224',
 '6225',
 '6226',
 '6230',
 '6235',
 '6239',
 '6243',
 '6257',
 '6269',
 '6271',
 '6277',
 '6282',
 '6283',
 '6405',
 '6409',
 '6416',
 '6426',
 '6438',
 '6442',
 '6443',
 '6449',
 '6515',
 '6531',
 '6533',
 '6552',
 '6558',
 '6579',
 '6668',
 '6674',
 '6689',
 '6695',
 '6698',
 '6706',
 '6715',
 '6719',
 '6756',
 '6770',
 '6789',
 '6792',
 '6799',
 '6830',
 '6834',
 '6835',
 '8011',
 '8016',
 '8021',
 '8039',
 '8046',
 '8070',
 '8072',
 '8081',
 '8103',
 '8104',
 '8105',
 '8110',
 '8131',
 '8150',
 '8201',
 '8213',
 '8249',
 '8261',
 '8271',
 '9912'}

In [102]:
# ÂèñÂá∫ËÇ°Á•®Âü∫Êú¨Ë≥áÊñôËàá Gross Margin Ë≥áÊñôÊñπ‰æøËßÄÂØü
DSO_3Y_data = data_last_3Y[['ËÇ°Á•®‰ª£Á¢º', 'Êó•Êúü', '‰∏ªÁî¢Ê•≠Âà•_‰∏≠Êñá', 'ÊúüÊú´ÂîÆË≤®Â§©Êï∏_A']]
DPO_3Y_data =data_last_3Y[['ËÇ°Á•®‰ª£Á¢º', 'Êó•Êúü', '‰∏ªÁî¢Ê•≠Âà•_‰∏≠Êñá', 'ÊúüÊú´Êî∂Â∏≥Â§©Êï∏_A']]
DSO_3Y_data

      ËÇ°Á•®‰ª£Á¢º         Êó•Êúü     ‰∏ªÁî¢Ê•≠Âà•_‰∏≠Êñá  ÊúüÊú´ÂîÆË≤®Â§©Êï∏_A
0     1471 2021-12-30  M2300 ÈõªÂ≠êÂ∑•Ê•≠    145.43
1     1582 2021-12-30  M2300 ÈõªÂ≠êÂ∑•Ê•≠     49.52
2     2059 2021-12-30  M2300 ÈõªÂ≠êÂ∑•Ê•≠    110.74
3     2301 2021-12-30  M2300 ÈõªÂ≠êÂ∑•Ê•≠     90.14
4     2302 2021-12-30  M2300 ÈõªÂ≠êÂ∑•Ê•≠    117.92
...    ...        ...         ...       ...
1203  8215 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠     76.77
1204  8249 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠     39.36
1205  8261 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠    120.42
1206  8271 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠     70.22
1207  9912 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠    247.61

[1208 rows x 4 columns]

In [103]:
DPO_3Y_data

      ËÇ°Á•®‰ª£Á¢º         Êó•Êúü     ‰∏ªÁî¢Ê•≠Âà•_‰∏≠Êñá  ÊúüÊú´Êî∂Â∏≥Â§©Êï∏_A
0     1471 2021-12-30  M2300 ÈõªÂ≠êÂ∑•Ê•≠     71.01
1     1582 2021-12-30  M2300 ÈõªÂ≠êÂ∑•Ê•≠    133.23
2     2059 2021-12-30  M2300 ÈõªÂ≠êÂ∑•Ê•≠     91.69
3     2301 2021-12-30  M2300 ÈõªÂ≠êÂ∑•Ê•≠     88.39
4     2302 2021-12-30  M2300 ÈõªÂ≠êÂ∑•Ê•≠     87.30
...    ...        ...         ...       ...
1203  8215 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠     80.85
1204  8249 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠     58.31
1205  8261 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠    116.15
1206  8271 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠     46.46
1207  9912 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠     41.97

[1208 rows x 4 columns]

In [105]:
industry_DSO_ave = DSO_3Y_data.groupby('‰∏ªÁî¢Ê•≠Âà•_‰∏≠Êñá')['ÊúüÊú´ÂîÆË≤®Â§©Êï∏_A'].transform('mean')  
industry_DPO_ave = DPO_3Y_data.groupby('‰∏ªÁî¢Ê•≠Âà•_‰∏≠Êñá')['ÊúüÊú´Êî∂Â∏≥Â§©Êï∏_A'].transform('mean')  

DSO_3Y_data['Áî¢Ê•≠Âπ≥ÂùáÂîÆË≤®Â§©Êï∏'] = industry_DSO_ave
DPO_3Y_data['Áî¢Ê•≠Âπ≥ÂùáÊî∂Â∏≥Â§©Êï∏'] = industry_DPO_ave

DSO_3Y_data

      ËÇ°Á•®‰ª£Á¢º         Êó•Êúü     ‰∏ªÁî¢Ê•≠Âà•_‰∏≠Êñá  ÊúüÊú´ÂîÆË≤®Â§©Êï∏_A   Áî¢Ê•≠Âπ≥ÂùáÂîÆË≤®Â§©Êï∏  Áî¢Ê•≠Âπ≥ÂùáÊî∂Â∏≥Â§©Êï∏
0     1471 2021-12-30  M2300 ÈõªÂ≠êÂ∑•Ê•≠    145.43  220.60492  82.32119
1     1582 2021-12-30  M2300 ÈõªÂ≠êÂ∑•Ê•≠     49.52  220.60492  82.32119
2     2059 2021-12-30  M2300 ÈõªÂ≠êÂ∑•Ê•≠    110.74  220.60492  82.32119
3     2301 2021-12-30  M2300 ÈõªÂ≠êÂ∑•Ê•≠     90.14  220.60492  82.32119
4     2302 2021-12-30  M2300 ÈõªÂ≠êÂ∑•Ê•≠    117.92  220.60492  82.32119
...    ...        ...         ...       ...        ...       ...
1203  8215 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠     76.77  220.60492  82.32119
1204  8249 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠     39.36  220.60492  82.32119
1205  8261 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠    120.42  220.60492  82.32119
1206  8271 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠     70.22  220.60492  82.32119
1207  9912 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠    247.61  220.60492  82.32119

[1208 rows x 6 columns]

In [106]:
set_6 = set(DSO_3Y_data[DSO_3Y_data['ÊúüÊú´ÂîÆË≤®Â§©Êï∏_A'] < DSO_3Y_data['Áî¢Ê•≠Âπ≥ÂùáÂîÆË≤®Â§©Êï∏']]['ËÇ°Á•®‰ª£Á¢º'])  # ÁØ©ÈÅ∏Á¨¶ÂêàÈÅ∏ËÇ°Ê¢ù‰ª∂ÁöÑÂÖ¨Âè∏
set_7=set(DPO_3Y_data[DPO_3Y_data['ÊúüÊú´Êî∂Â∏≥Â§©Êï∏_A'] < DPO_3Y_data['Áî¢Ê•≠Âπ≥ÂùáÊî∂Â∏≥Â§©Êï∏']]['ËÇ°Á•®‰ª£Á¢º'])  # ÁØ©ÈÅ∏Á¨¶ÂêàÈÅ∏ËÇ°Ê¢ù‰ª∂ÁöÑÂÖ¨Âè∏

In [107]:
set_6

{'1471',
 '1582',
 '2059',
 '2301',
 '2302',
 '2303',
 '2305',
 '2308',
 '2312',
 '2313',
 '2314',
 '2316',
 '2317',
 '2321',
 '2323',
 '2324',
 '2327',
 '2328',
 '2329',
 '2330',
 '2331',
 '2332',
 '2337',
 '2338',
 '2340',
 '2342',
 '2344',
 '2345',
 '2347',
 '2349',
 '2351',
 '2352',
 '2353',
 '2354',
 '2355',
 '2356',
 '2357',
 '2359',
 '2360',
 '2362',
 '2363',
 '2364',
 '2365',
 '2367',
 '2368',
 '2369',
 '2373',
 '2374',
 '2375',
 '2376',
 '2377',
 '2379',
 '2380',
 '2382',
 '2383',
 '2385',
 '2387',
 '2388',
 '2392',
 '2393',
 '2395',
 '2397',
 '2399',
 '2401',
 '2402',
 '2404',
 '2405',
 '2406',
 '2408',
 '2409',
 '2412',
 '2413',
 '2414',
 '2415',
 '2417',
 '2419',
 '2420',
 '2421',
 '2424',
 '2425',
 '2426',
 '2428',
 '2429',
 '2430',
 '2431',
 '2433',
 '2434',
 '2436',
 '2438',
 '2439',
 '2440',
 '2441',
 '2444',
 '2449',
 '2450',
 '2451',
 '2453',
 '2454',
 '2455',
 '2456',
 '2457',
 '2458',
 '2459',
 '2460',
 '2461',
 '2462',
 '2464',
 '2465',
 '2466',
 '2467',
 '2468',
 '2471',
 '2472',
 '2474',
 '2476',
 '2477',
 '2478',
 '2480',
 '2481',
 '2482',
 '2483',
 '2484',
 '2485',
 '2486',
 '2488',
 '2489',
 '2491',
 '2492',
 '2493',
 '2498',
 '3002',
 '3003',
 '3005',
 '3006',
 '3008',
 '3010',
 '3011',
 '3013',
 '3014',
 '3015',
 '3016',
 '3017',
 '3018',
 '3019',
 '3021',
 '3022',
 '3023',
 '3024',
 '3026',
 '3027',
 '3028',
 '3029',
 '3030',
 '3031',
 '3032',
 '3033',
 '3034',
 '3035',
 '3036',
 '3037',
 '3038',
 '3041',
 '3042',
 '3043',
 '3044',
 '3045',
 '3046',
 '3047',
 '3048',
 '3049',
 '3050',
 '3051',
 '3054',
 '3055',
 '3058',
 '3059',
 '3060',
 '3062',
 '3090',
 '3092',
 '3094',
 '3130',
 '3138',
 '3149',
 '3189',
 '3209',
 '3229',
 '3231',
 '3257',
 '3296',
 '3305',
 '3308',
 '3311',
 '3312',
 '3321',
 '3338',
 '3376',
 '3380',
 '3383',
 '3406',
 '3413',
 '3416',
 '3419',
 '3432',
 '3437',
 '3443',
 '3447',
 '3450',
 '3454',
 '3481',
 '3494',
 '3501',
 '3504',
 '3515',
 '3518',
 '3528',
 '3530',
 '3532',
 '3533',
 '3535',
 '3536',
 '3543',
 '3545',
 '3550',
 '3563',
 '3576',
 '3588',
 '3591',
 '3592',
 '3593',
 '3596',
 '3605',
 '3607',
 '3617',
 '3622',
 '3645',
 '3652',
 '3653',
 '3669',
 '3679',
 '3682',
 '3686',
 '3694',
 '3701',
 '3702',
 '3704',
 '3706',
 '3711',
 '3712',
 '3714',
 '3715',
 '4545',
 '4904',
 '4906',
 '4915',
 '4916',
 '4919',
 '4934',
 '4938',
 '4942',
 '4952',
 '4956',
 '4960',
 '4961',
 '4967',
 '4968',
 '4976',
 '4989',
 '4994',
 '4999',
 '5203',
 '5234',
 '5244',
 '5258',
 '5269',
 '5285',
 '5388',
 '5434',
 '5469',
 '5471',
 '5484',
 '6108',
 '6112',
 '6115',
 '6116',
 '6117',
 '6120',
 '6128',
 '6133',
 '6136',
 '6139',
 '6141',
 '6142',
 '6152',
 '6153',
 '6155',
 '6164',
 '6165',
 '6166',
 '6168',
 '6172',
 '6176',
 '6183',
 '6189',
 '6191',
 '6196',
 '6197',
 '6201',
 '6202',
 '6205',
 '6206',
 '6209',
 '6213',
 '6214',
 '6215',
 '6216',
 '6224',
 '6225',
 '6230',
 '6235',
 '6239',
 '6243',
 '6251',
 '6257',
 '6269',
 '6271',
 '6277',
 '6278',
 '6281',
 '6282',
 '6283',
 '6285',
 '6289',
 '6405',
 '6409',
 '6412',
 '6414',
 '6426',
 '6438',
 '6442',
 '6443',
 '6449',
 '6477',
 '6515',
 '6531',
 '6552',
 '6558',
 '6579',
 '6668',
 '6669',
 '6674',
 '6691',
 '6695',
 '6698',
 '6706',
 '6715',
 '6719',
 '6743',
 '6756',
 '6770',
 '6776',
 '6789',
 '6792',
 '6799',
 '6830',
 '6834',
 '6835',
 '8011',
 '8016',
 '8021',
 '8028',
 '8039',
 '8046',
 '8070',
 '8072',
 '8081',
 '8101',
 '8103',
 '8104',
 '8105',
 '8110',
 '8112',
 '8114',
 '8131',
 '8150',
 '8163',
 '8201',
 '8210',
 '8213',
 '8215',
 '8249',
 '8261',
 '8271'}

In [108]:
set_7

{'1471',
 '2302',
 '2303',
 '2305',
 '2308',
 '2312',
 '2314',
 '2317',
 '2321',
 '2323',
 '2324',
 '2327',
 '2329',
 '2330',
 '2331',
 '2332',
 '2337',
 '2338',
 '2342',
 '2344',
 '2345',
 '2347',
 '2349',
 '2351',
 '2352',
 '2353',
 '2354',
 '2355',
 '2356',
 '2357',
 '2359',
 '2362',
 '2363',
 '2364',
 '2365',
 '2369',
 '2373',
 '2374',
 '2376',
 '2377',
 '2379',
 '2380',
 '2382',
 '2388',
 '2390',
 '2392',
 '2395',
 '2397',
 '2399',
 '2401',
 '2404',
 '2405',
 '2406',
 '2408',
 '2409',
 '2412',
 '2413',
 '2414',
 '2415',
 '2417',
 '2419',
 '2420',
 '2424',
 '2425',
 '2427',
 '2429',
 '2430',
 '2431',
 '2433',
 '2438',
 '2441',
 '2442',
 '2444',
 '2449',
 '2450',
 '2451',
 '2453',
 '2454',
 '2455',
 '2457',
 '2458',
 '2461',
 '2464',
 '2465',
 '2468',
 '2471',
 '2477',
 '2480',
 '2482',
 '2483',
 '2488',
 '2489',
 '2491',
 '2495',
 '2498',
 '3002',
 '3003',
 '3006',
 '3008',
 '3014',
 '3017',
 '3018',
 '3019',
 '3022',
 '3024',
 '3025',
 '3026',
 '3027',
 '3028',
 '3033',
 '3034',
 '3035',
 '3036',
 '3037',
 '3038',
 '3041',
 '3043',
 '3045',
 '3046',
 '3047',
 '3048',
 '3049',
 '3050',
 '3054',
 '3057',
 '3059',
 '3060',
 '3094',
 '3130',
 '3189',
 '3209',
 '3231',
 '3257',
 '3308',
 '3311',
 '3312',
 '3356',
 '3380',
 '3413',
 '3416',
 '3443',
 '3447',
 '3450',
 '3454',
 '3481',
 '3494',
 '3504',
 '3515',
 '3528',
 '3530',
 '3532',
 '3545',
 '3576',
 '3583',
 '3588',
 '3591',
 '3592',
 '3596',
 '3617',
 '3622',
 '3645',
 '3652',
 '3669',
 '3682',
 '3686',
 '3694',
 '3701',
 '3702',
 '3704',
 '3706',
 '3711',
 '3712',
 '4545',
 '4904',
 '4915',
 '4916',
 '4919',
 '4934',
 '4938',
 '4952',
 '4960',
 '4961',
 '4967',
 '4968',
 '4976',
 '4989',
 '4994',
 '5203',
 '5222',
 '5234',
 '5258',
 '5269',
 '5285',
 '5388',
 '5434',
 '5471',
 '5484',
 '6112',
 '6116',
 '6117',
 '6120',
 '6128',
 '6136',
 '6139',
 '6142',
 '6152',
 '6165',
 '6166',
 '6168',
 '6176',
 '6183',
 '6189',
 '6192',
 '6196',
 '6201',
 '6202',
 '6205',
 '6206',
 '6214',
 '6216',
 '6239',
 '6269',
 '6271',
 '6277',
 '6281',
 '6285',
 '6289',
 '6405',
 '6409',
 '6414',
 '6416',
 '6426',
 '6438',
 '6442',
 '6443',
 '6531',
 '6533',
 '6552',
 '6579',
 '6669',
 '6691',
 '6695',
 '6698',
 '6706',
 '6719',
 '6756',
 '6770',
 '6776',
 '6789',
 '6792',
 '6799',
 '8011',
 '8016',
 '8028',
 '8046',
 '8070',
 '8072',
 '8081',
 '8101',
 '8104',
 '8105',
 '8110',
 '8112',
 '8114',
 '8131',
 '8150',
 '8201',
 '8215',
 '8249',
 '8261',
 '8271',
 '9912'}

In [111]:
# ÂèñÂá∫ËÇ°Á•®Âü∫Êú¨Ë≥áÊñôËàá Gross Margin Ë≥áÊñôÊñπ‰æøËßÄÂØü
SR_1Y_data = data_last_1Y[['ËÇ°Á•®‰ª£Á¢º', 'Êó•Êúü', '‰∏ªÁî¢Ê•≠Âà•_‰∏≠Êñá', 'Áü≠ÊúüÁáüÊî∂Âπ¥Â¢ûÁéá']]
LR_1Y_data = data_last_1Y[['ËÇ°Á•®‰ª£Á¢º', 'Êó•Êúü', '‰∏ªÁî¢Ê•≠Âà•_‰∏≠Êñá', 'Èï∑ÊúüÁáüÊî∂Âπ¥Â¢ûÁéá']]
SR_1Y_data

     ËÇ°Á•®‰ª£Á¢º         Êó•Êúü     ‰∏ªÁî¢Ê•≠Âà•_‰∏≠Êñá    Áü≠ÊúüÁáüÊî∂Âπ¥Â¢ûÁéá
0    1471 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠  18.559713
1    1582 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠  22.410101
2    2059 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠ -17.053058
3    2301 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠ -15.306403
4    2302 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠ -39.241074
..    ...        ...         ...        ...
403  8215 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠  19.227807
404  8249 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠ -49.764408
405  8261 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠  -6.424569
406  8271 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠  -2.398950
407  9912 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠  -3.168259

[408 rows x 4 columns]

In [113]:
# Âêà‰ΩµÂÖ©ÂÄãË≥áÊñôÊ°Ü‰ª•‰æøÊØîËºÉÁü≠ÊúüÂíåÈï∑ÊúüÁáüÊî∂Âπ¥Â¢ûÁéá
merged_data = pd.merge(SR_1Y_data, LR_1Y_data, on='ËÇ°Á•®‰ª£Á¢º', suffixes=('_short', '_long'))

# ÁØ©ÈÅ∏Âá∫Áü≠ÊúüÁáüÊî∂Âπ¥Â¢ûÁéáÂ§ßÊñºÈï∑ÊúüÁáüÊî∂Âπ¥Â¢ûÁéáÁöÑÂÖ¨Âè∏
Áü≠ÊúüË∂ÖÈï∑ÊúüÁáüÊî∂Â¢ûÈï∑ = merged_data[merged_data['Áü≠ÊúüÁáüÊî∂Âπ¥Â¢ûÁéá'] > merged_data['Èï∑ÊúüÁáüÊî∂Âπ¥Â¢ûÁéá']]

In [114]:
set_8 = set(Áü≠ÊúüË∂ÖÈï∑ÊúüÁáüÊî∂Â¢ûÈï∑['ËÇ°Á•®‰ª£Á¢º'])
set_8

{'1471',
 '1582',
 '2059',
 '2313',
 '2316',
 '2317',
 '2321',
 '2323',
 '2324',
 '2327',
 '2329',
 '2330',
 '2331',
 '2338',
 '2340',
 '2344',
 '2347',
 '2352',
 '2353',
 '2355',
 '2357',
 '2362',
 '2363',
 '2364',
 '2365',
 '2368',
 '2369',
 '2374',
 '2375',
 '2376',
 '2377',
 '2379',
 '2380',
 '2382',
 '2383',
 '2385',
 '2388',
 '2392',
 '2393',
 '2399',
 '2401',
 '2405',
 '2406',
 '2408',
 '2409',
 '2415',
 '2417',
 '2420',
 '2425',
 '2426',
 '2427',
 '2430',
 '2431',
 '2433',
 '2434',
 '2436',
 '2439',
 '2440',
 '2441',
 '2449',
 '2450',
 '2451',
 '2454',
 '2455',
 '2458',
 '2460',
 '2461',
 '2462',
 '2465',
 '2467',
 '2471',
 '2472',
 '2477',
 '2478',
 '2480',
 '2481',
 '2483',
 '2484',
 '2486',
 '2488',
 '2489',
 '2491',
 '2492',
 '2493',
 '2498',
 '3006',
 '3008',
 '3010',
 '3011',
 '3014',
 '3017',
 '3018',
 '3019',
 '3021',
 '3024',
 '3025',
 '3026',
 '3028',
 '3029',
 '3030',
 '3031',
 '3034',
 '3036',
 '3041',
 '3042',
 '3044',
 '3048',
 '3050',
 '3051',
 '3055',
 '3057',
 '3060',
 '3090',
 '3092',
 '3189',
 '3257',
 '3296',
 '3305',
 '3311',
 '3312',
 '3321',
 '3338',
 '3376',
 '3406',
 '3432',
 '3437',
 '3450',
 '3481',
 '3494',
 '3504',
 '3515',
 '3518',
 '3530',
 '3543',
 '3545',
 '3550',
 '3583',
 '3588',
 '3591',
 '3592',
 '3605',
 '3607',
 '3622',
 '3645',
 '3669',
 '3679',
 '3686',
 '3702',
 '3712',
 '3714',
 '4904',
 '4919',
 '4938',
 '4942',
 '4952',
 '4960',
 '4961',
 '4967',
 '4968',
 '4976',
 '4989',
 '4994',
 '4999',
 '5203',
 '5234',
 '5244',
 '5269',
 '5285',
 '5471',
 '6108',
 '6112',
 '6115',
 '6116',
 '6117',
 '6120',
 '6128',
 '6136',
 '6139',
 '6141',
 '6164',
 '6168',
 '6183',
 '6189',
 '6197',
 '6201',
 '6202',
 '6206',
 '6213',
 '6214',
 '6215',
 '6216',
 '6224',
 '6225',
 '6226',
 '6239',
 '6257',
 '6271',
 '6278',
 '6281',
 '6282',
 '6283',
 '6412',
 '6426',
 '6442',
 '6449',
 '6526',
 '6531',
 '6552',
 '6558',
 '6668',
 '6674',
 '6689',
 '6695',
 '6706',
 '6719',
 '6743',
 '6756',
 '6770',
 '6776',
 '6789',
 '6792',
 '6799',
 '6805',
 '6834',
 '6835',
 '8011',
 '8016',
 '8021',
 '8039',
 '8070',
 '8072',
 '8081',
 '8101',
 '8103',
 '8110',
 '8112',
 '8150',
 '8163',
 '8210',
 '8213',
 '8215',
 '8261',
 '8271',
 '9912'}

In [115]:
# ÂèñÂá∫ËÇ°Á•®Âü∫Êú¨Ë≥áÊñôËàá Earnings Quality Ë≥áÊñôÊñπ‰æøËßÄÂØü
EQ_1Y_data = data_last_1Y[['ËÇ°Á•®‰ª£Á¢º', 'Êó•Êúü', '‰∏ªÁî¢Ê•≠Âà•_‰∏≠Êñá', 'Áç≤Âà©Âê´ÈáëÈáè']]

EQ_1Y_data

     ËÇ°Á•®‰ª£Á¢º         Êó•Êúü     ‰∏ªÁî¢Ê•≠Âà•_‰∏≠Êñá       Áç≤Âà©Âê´ÈáëÈáè
0    1471 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠ -330.107147
1    1582 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠  158.178030
2    2059 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠  106.754480
3    2301 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠  160.180809
4    2302 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠  159.310788
..    ...        ...         ...         ...
403  8215 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠  125.644814
404  8249 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠   74.259883
405  8261 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠   85.496385
406  8271 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠   82.021246
407  9912 2023-12-29  M2300 ÈõªÂ≠êÂ∑•Ê•≠ -175.624940

[408 rows x 4 columns]

In [119]:
Áç≤Âà©Âê´ÈáëÈáèÂÑ™ËâØ= EQ_1Y_data[EQ_1Y_data['Áç≤Âà©Âê´ÈáëÈáè'] > 80]

In [120]:
set_9 = set(Áç≤Âà©Âê´ÈáëÈáèÂÑ™ËâØ['ËÇ°Á•®‰ª£Á¢º'])

In [121]:
set_9

{'1582',
 '2059',
 '2301',
 '2302',
 '2303',
 '2305',
 '2308',
 '2312',
 '2313',
 '2316',
 '2317',
 '2323',
 '2324',
 '2327',
 '2328',
 '2329',
 '2330',
 '2331',
 '2332',
 '2337',
 '2338',
 '2340',
 '2342',
 '2344',
 '2345',
 '2347',
 '2351',
 '2352',
 '2353',
 '2355',
 '2356',
 '2357',
 '2364',
 '2365',
 '2368',
 '2373',
 '2374',
 '2375',
 '2376',
 '2379',
 '2382',
 '2385',
 '2387',
 '2388',
 '2390',
 '2392',
 '2393',
 '2395',
 '2397',
 '2402',
 '2405',
 '2408',
 '2412',
 '2413',
 '2414',
 '2415',
 '2417',
 '2419',
 '2420',
 '2421',
 '2423',
 '2428',
 '2430',
 '2431',
 '2433',
 '2436',
 '2439',
 '2440',
 '2441',
 '2442',
 '2444',
 '2449',
 '2450',
 '2451',
 '2453',
 '2454',
 '2455',
 '2457',
 '2458',
 '2459',
 '2461',
 '2462',
 '2466',
 '2467',
 '2468',
 '2472',
 '2474',
 '2476',
 '2477',
 '2478',
 '2481',
 '2482',
 '2483',
 '2484',
 '2486',
 '2492',
 '2498',
 '3002',
 '3003',
 '3005',
 '3008',
 '3011',
 '3013',
 '3014',
 '3015',
 '3016',
 '3017',
 '3018',
 '3019',
 '3021',
 '3023',
 '3026',
 '3028',
 '3029',
 '3030',
 '3031',
 '3032',
 '3034',
 '3035',
 '3036',
 '3037',
 '3038',
 '3042',
 '3044',
 '3045',
 '3050',
 '3051',
 '3054',
 '3057',
 '3059',
 '3094',
 '3130',
 '3189',
 '3231',
 '3257',
 '3305',
 '3311',
 '3312',
 '3338',
 '3356',
 '3376',
 '3380',
 '3406',
 '3413',
 '3416',
 '3443',
 '3447',
 '3450',
 '3454',
 '3501',
 '3515',
 '3518',
 '3528',
 '3532',
 '3533',
 '3535',
 '3543',
 '3545',
 '3583',
 '3591',
 '3592',
 '3593',
 '3596',
 '3617',
 '3653',
 '3669',
 '3679',
 '3694',
 '3701',
 '3702',
 '3704',
 '3706',
 '3711',
 '3715',
 '4545',
 '4904',
 '4906',
 '4915',
 '4916',
 '4934',
 '4938',
 '4942',
 '4952',
 '4960',
 '4961',
 '4989',
 '4999',
 '5203',
 '5222',
 '5234',
 '5244',
 '5258',
 '5269',
 '5285',
 '5469',
 '5471',
 '6108',
 '6115',
 '6116',
 '6117',
 '6120',
 '6128',
 '6133',
 '6136',
 '6139',
 '6155',
 '6165',
 '6166',
 '6168',
 '6176',
 '6183',
 '6191',
 '6197',
 '6201',
 '6205',
 '6206',
 '6209',
 '6213',
 '6214',
 '6215',
 '6224',
 '6225',
 '6230',
 '6235',
 '6239',
 '6243',
 '6257',
 '6269',
 '6271',
 '6277',
 '6278',
 '6281',
 '6282',
 '6285',
 '6409',
 '6412',
 '6416',
 '6442',
 '6443',
 '6449',
 '6477',
 '6531',
 '6533',
 '6552',
 '6579',
 '6715',
 '6756',
 '6776',
 '6789',
 '6799',
 '6830',
 '6835',
 '8016',
 '8028',
 '8039',
 '8046',
 '8070',
 '8072',
 '8081',
 '8103',
 '8105',
 '8114',
 '8131',
 '8150',
 '8163',
 '8201',
 '8210',
 '8213',
 '8215',
 '8261',
 '8271'}

In [122]:
tickers = list(set_1 & set_2 & set_3 & set_4 & set_5 & set_6 & set_7 & set_8 & set_9)
tickers

['3014',
 '4961',
 '2455',
 '2330',
 '3592',
 '5234',
 '6531',
 '3034',
 '8016',
 '8261',
 '6183',
 '2458',
 '4952',
 '2454',
 '8081',
 '6799',
 '6756']

In [123]:
len(tickers)

17

In [124]:
import tejapi

tejapi.ApiConfig.api_key = tej_key
tejapi.ApiConfig.ignoretz = api_base

ticker_data = tejapi.get('TWN/APISTOCK',  # Ë≠âÂà∏Â±¨ÊÄßË≥áÊñôË°®
                  coid = tickers,
                  opts = {'columns':['coid', 'stk_name', 'main_ind_c']},
                  chinese_column_name = True,
                  paginate = True)

ticker_data

      ÂÖ¨Âè∏Á∞°Á®±  Ë≠âÂà∏ÂêçÁ®±     ‰∏ªÁî¢Ê•≠Âà•(‰∏≠)
None
0     2330   Âè∞Á©çÈõª  M2300 ÈõªÂ≠êÂ∑•Ê•≠
1     2454   ËÅØÁôºÁßë  M2300 ÈõªÂ≠êÂ∑•Ê•≠
2     2455    ÂÖ®Êñ∞  M2300 ÈõªÂ≠êÂ∑•Ê•≠
3     2458    Áæ©ÈöÜ  M2300 ÈõªÂ≠êÂ∑•Ê•≠
4     3014    ËÅØÈôΩ  M2300 ÈõªÂ≠êÂ∑•Ê•≠
5     3034    ËÅØË©†  M2300 ÈõªÂ≠êÂ∑•Ê•≠
6     3592    ÁëûÈºé  M2300 ÈõªÂ≠êÂ∑•Ê•≠
7     4952    ÂáåÈÄö  M2300 ÈõªÂ≠êÂ∑•Ê•≠
8     4961    Â§©Èà∫  M2300 ÈõªÂ≠êÂ∑•Ê•≠
9     5234  ÈÅîËààÊùêÊñô  M2300 ÈõªÂ≠êÂ∑•Ê•≠
10    6183    ÈóúË≤ø  M2300 ÈõªÂ≠êÂ∑•Ê•≠
11    6531   ÊÑõÊôÆ*  M2300 ÈõªÂ≠êÂ∑•Ê•≠
12    6756  Â®ÅÈãíÈõªÂ≠ê  M2300 ÈõªÂ≠êÂ∑•Ê•≠
13    6799    ‰æÜÈ†°  M2300 ÈõªÂ≠êÂ∑•Ê•≠
14    8016    ÁüΩÂâµ  M2300 ÈõªÂ≠êÂ∑•Ê•≠
15    8081    Ëá¥Êñ∞  M2300 ÈõªÂ≠êÂ∑•Ê•≠
16    8261    ÂØåÈºé  M2300 ÈõªÂ≠êÂ∑•Ê•≠